body{
  background-color: #7FFFD4;
  font-family: 'Amatic SC', cursive;
  color: #00008B;
}
h1{
  font-size: 75px;
}
.container{
   margin-top: 20px;
}
.jumbotron{
  background-color: #E0E0E0;
}
.btn{
  background-color: #76EEC6;
  font-size:50px;
  color: #000;
}
.desc{
  font-size: 35px;
}
